
/* default values start */
body,
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    padding: 0;
}
ul, 
li,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

* {
    box-sizing: border-box;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.sections {
    width: 100%;
    padding: 50px 0;
}
.container {
    width: 95%;
    margin: 0 auto;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
/* default values end */


/*  Start Default CSS for this Design */
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('fonts/Quicksand-Regular.woff2') format('woff2'),
        url('fonts/Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Quicksand-Bold';
    src: url('fonts/Quicksand-Bold.woff2') format('woff2'),
        url('fonts/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans-Regular';
    src: url('fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans-Medium';
    src: url('fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('fonts/JosefinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans-Bold';
    src: url('fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('fonts/JosefinSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Quicksand-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
    color: #333;
}

.btn {
    color: rgba(30 , 35, 48, 1);
    line-height: 1.5;
    border-radius: 4px;
    background-color: rgba(255 , 255, 255, 0.8);
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    transition: border 0.3s ease-in, box-shadow 0.3s ease-in,background 0.3s, opacity 0.3s ease-in;
    font-size: 21px;
}

.btn:hover {
    color: rgba(255 , 255, 255, 1);
    background-color: rgba(243 , 115, 33, 1);
}














/*  End Default CSS for this Design */

/* Start Header/First Section CSS */
.header-section {
    padding: 0;
    height: 112vh;
    background-image: url("images/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* Top Sticky bar header Start */
.header-section .header-sticky-bar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.header-section .sticky {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2em);
}


.header-section .header-sticky-bar .container .logo {
    float: left;
    width: 148px;
    
}
.header-section .header-sticky-bar .container .logo a {
    display: block;
    padding: 10px 12px 5px 12px;
}
.header-section .header-sticky-bar .container .logo a .tab-mbl-logo {
    display: none;
}

.header-section .header-sticky-bar .container nav {
    float: right;
}


.header-section .header-sticky-bar .container nav ul li {
    float: left;
    position: relative;
}

.header-section .header-sticky-bar .container nav ul li a {
    text-transform: capitalize;
    display: block;
    padding: 28px 15px;
}

.header-section .header-sticky-bar .container nav ul li a,
.header-section .header-sticky-bar .container nav ul li a i {
    transition: all .5s;
}

.header-section .header-sticky-bar .container nav ul li a i {
    margin-left: 6px;
}


.header-section .header-sticky-bar .container nav ul li .active,
.header-section .header-sticky-bar .container nav ul li .active i {
    color: #f37321;
}
.header-section .header-sticky-bar .container nav ul li:hover a, 
.header-section .header-sticky-bar .container nav ul li:hover a i {
    color: #f37321;
}

/* Start Dropdown Menu */
.header-section .header-sticky-bar .container nav> ul> li> .dropdown {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 100px;
    width: 240px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.header-section .header-sticky-bar .container nav> ul> li:hover> .dropdown {
    top: 81px;
    opacity: 1;
    visibility: visible;
    transition: all .7s;
}



.header-section .header-sticky-bar .container nav ul li .dropdown li {
    float: none;
}
.header-section .header-sticky-bar .container nav ul li .dropdown li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header-section .header-sticky-bar .container nav ul li .dropdown li a {
    padding: 15px 20px;
    color: #333;
    line-height: 1;
    
}

.header-section .header-sticky-bar .container nav ul li .dropdown li:hover a {
    padding-left: 13px;
    background-color: #f37321;
    color: #fff;
}

/* Mobile Nav Icon */
.header-section .header-sticky-bar .container .mobile-menu-cont {
    float: right;
    display: none;
}
.header-section .header-sticky-bar .container .mobile-menu-cont i {
    font-size: 26px;
    padding: 27px 10px 27px 0;
    color: #000000;
    cursor: pointer;
}



/* Top Sticky bar header End */








.header-section .header-body-area {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    
}
.header-section .header-body-area .container .heading-text {
    width: 90%;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.header-section .header-body-area .container .heading-text h1 {
    font-family: Josefin Sans-Bold;
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
}
.header-section .header-body-area .container .heading-text .btn {
    margin-top: 50px;
    display: inline-block;
}

/* End Header/First Section CSS */
